.cv_env
cvapp/__pycache__
cvapp/migrations/__pycache__
cvapp/migrations
cvapp/views/__pycache__
cvapp/models/__pycache__

cvtheque/__pycache__
.env
db.sqlite3
cv.sock
debug.log

static/media/cvs/*.pdf
staticfiles